.gototop{
    position: fixed;
    z-index: 100;

    outline: none;
    background-color: #262626;
    height: 50px;
    width: 50px;
    left: 99%;
    top: 99%;
    transform: translate(-99%,-99%);
    border: none;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.295);
    cursor: pointer;
    i{
        font-size: 25px;
        transition: 0.2s all!important;
    }
    line-height: 58px;
    transition: 0.3s all;
    opacity: 0;
    visibility: hidden;
}
.gototop:hover{
    i{
        color: rgb(44, 117, 160);
    }
}
.assshowpp{
    visibility: visible;
    transition: 0.5s all opacity;
    opacity: 1;
}