.copyright{
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: center;
	font-family: 'ubuntu',sans-serif;
	align-items: center;
	p{
		font-size: 15px;
		color: rgb(199, 199, 199);
	}
	h1{
		font-size: 18px;
		margin: 0px 5px;

	}
}